.pokemon-image {
  display: flex;
  align-items: center;
}

.pokemon-image img {
  width: 150px;
  height: auto;
}

.pokemon-information {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
}

.damage-relations {
  /* display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap; */

  display: grid;
  grid-template-areas:
    "strong weak";
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;

}

.strong-against {

  /* display: flex;
  flex-direction: column; */
  grid-area: strong;
}

.weak-against {

  /* display: flex;
  flex-direction: column; */
  grid-area: weak;
}

.strong-against-types {
  /* display: flex; */

}


.weak-against-types {
  /* display: flex; */

}