#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

#search-input {
  height: 30px;
  font-size: larger;
}

/* Dark/Light Mode */
html[color-mode='dark-mode'] {
  --text-color: rgba(255, 255, 255);
  --background-body: rgba(0, 0, 0);
  --button-color: rgba(50, 50, 50);
  --col-color: rgba(100, 100, 100);
}

html[color-mode='light-mode'] {
  --text-color: rgba(0, 0, 0);
  --background-color: rgba(255, 255, 255);
  --button-color: rgba(200, 200, 200);
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}
button, input {
  color: var(--text-color);
  background-color: var(--button-color);
  /* margin: 2px; */
}

