p {
    padding: 0px;
    margin: 0px;
}

.pokemon-type-row {}

.pokemon-type-effectiveness-cols {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: col; */
}

.strong-col {
    color: #ffffff;
    background-color: darkgreen;
}

.neutral-col {
    color: #ffffff;
    background-color: rgb(100, 100, 100);
}

.weak-col {
    color: #ffffff;
    background-color: darkred;
}



.strong-col,
.neutral-col,
.weak-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
    border-radius: 16px;
}

.double-damage-to,
.double-damage-from,
.half-damage-to,
.half-damage-from,
.no-damage-to,
.no-damage-from,
.neutral-damage {
    /* box-shadow: 4px 4px 4px 4px black; */
    margin: 10px;
    border-radius: 8px;
}

.double-damage-to {
    background-color: green;
}

.double-damage-from {
    background-color: red;
}

.half-damage-to {
    background-color: red;
}

.half-damage-from {
    background-color: green;
}

.no-damage-to {
    background-color: red;
}

.no-damage-from {
    background-color: green;
}

.neutral-damage {
    /* background-color: rgb(60, 60, 60); */
}

.selected-type {
    /* width: 200px;
    transform: scale(2); */
}